
<div class="songs span4">
    <div class="name"> <h3> <%= link_to song.name, song %> </h3> </div>

    <div class="photo opacity"><%= link_to image_tag(song.photo.small), song %></div>

    <div class='player'>
        <% if !song.audio_link.blank? %>
            <%= audio_tag song.audio_link, :controls => true %>
        <% elsif !song.audio_file.blank? %>
            <%= audio_tag song.audio_file, :controls => true %>
        <% else %>
        <% end %>
    </div>

    <div class='links'>
        <%= link_to 'Edit', edit_song_path(song) %>
        <%= link_to 'Delete', song, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
</div>
