
<div id="songs">

    <div class="name"> <h2> <%= link_to song.name, song %> </h2> </div>

    <div id='photo' class="brightness"><%= link_to image_tag(song.photo.small), song %></div>

    <div class='player'>
    <%= audio_tag song.audio_file, :controls => true %>
    </div>

    <div class='player'>
    <%= audio_tag song.audio_link, :controls => true %>
    </div>

    <div class='links'>
        <%= %>
        <%= link_to 'Edit', edit_song_path(song) %>
        <%= link_to 'Delete', song, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
</div>
