
<div id="search" class="row">
  <div class="span9 offset2">
    <ul>
    <% @data.each do |concert| %>
        <li class="show_link"> <h4><%= link_to concert['title'], "http://archive.org/details/#{concert['identifier']}", :target => "_blank" %> </h4></li>
        <% params[:url] = "http://archive.org/details/#{concert['identifier']}&output=json" %>
        <li class="description"> <h4> Description:</h4> <%= concert["description"] %></li>

        <%= form_tag '/get_tracks' do %>
          <%= hidden_field_tag 'url', params[:url] %>
          <%= submit_tag 'Get tracks from this show', :class => 'btn btn-inverse' %>
        <% end %>
    <% end %>
    </ul>
  </div>
</div>
