<!DOCTYPE html>
<html>
<head>
  <title>Best Live Version</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

 <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="nav nav-pills">
          <%= link_to "HOME | ", root_path %>
          <%= display_links %>
        </div>
      <div class="navsearch pull-right"><%= render :partial => 'shared/search' %> </div>
    </div>
  </div>

    <header>
      <h1>Best Ever Live Version</h1>
    </header>


    <div class="row">
         <%= yield %>
    </div>
  </div>

        <script>
          // $.backstretch([
          // "../assets/pedals.jpg"
          // , "../assets/phish_redyellow.jpg"
          // , "../assets/thenewdeal.jpg"
          // ],{duration:3000,fade:750});
        </script>

  </body>
</html>
