r<!DOCTYPE html>
<html>
<head>
  <title>Best Ever Live Version</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="container-fluid">

      <header>
        <h1>Best Ever Live Version</h1>
      </header>

    <div id="nav" class="navbar">
      <ul class="nav nav-pills">
        <% if @auth %>
          <li class="btn"><%= link_to 'HOME', root_path %> </li>
          <li class="btn"><%= link_to 'LOGOUT', logout_path, :method => :delete %></li>
          <li class="btn"><%= link_to 'CREATE A NEW JAM', new_song_path %></li>
          <li class="btn"><%= link_to 'ALL JAMS', songs_path %></li>
          <li class="btn"><%= link_to 'ARTISTS', artists_path %></li>
          <li class="btn"><%= link_to 'CONCERTS', concerts_path %></li>
        <% else %>
          <li class="btn"><%= link_to 'HOME', root_path  %></li>
          <li class="btn"><%= link_to 'LOGIN', login_path %></li>
          <li class="btn"><%= link_to 'REGISTER', register_path %></li>
        <% end %>
     </ul> <!-- end navpills -->

        <div class="navsearch pull-right"><%= render :partial => 'shared/search' %>
        </div>

    </div> <!-- end navbar -->

<%= yield %>

  </div> <!-- end container -->

        <script>
          $.backstretch([
          "../assets/pedals.jpg"
          , "../assets/phish_redyellow.jpg"
          , "../assets/thenewdeal.jpg"
          ],{duration:5000,fade:900});
        </script>

  </body>
</html>
