<!DOCTYPE html>
<html>
<head>
  <title>Jamlister</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

</head>

<body>
  <div class="container">

    <header>
      <h1>JAMLISTER</h1>
    </header>

    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav nav-pills">
          <li><%= link_to "home ", root_path %></li>
          <li><%= display_links %></li>
        </ul>
      </div>
    </div>
         <%= yield %>
  </div>

        <script>
          // $.backstretch([
          // "../assets/pedals.jpg"
          // , "../assets/phish_redyellow.jpg"
          // , "../assets/thenewdeal.jpg"
          // ],{duration:3000,fade:750});
        </script>

  </body>
</html>
